<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
     <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        </button>
        <a class="navbar-brand" href="#"><img src="assets/icon_plane.png" style="width:30px;"></a>
     </div>
     <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
           <li class="menu-item" routerLinkActive="active"><a routerLink="flights" >Flight List</a></li>
           <ul class="nav navbar-nav">
              <li class="menu-item" routerLinkActive="active"><a routerLink="add" >Add Flight </a></li>
              <ul class="nav navbar-nav">
                 <li class="menu-item" routerLinkActive="active"><a href="#">Support <i class="fa fa-support"></i></a></li>
                 <ul class="nav navbar-nav">
                    <li class="menu-item dropdown" routerLinkActive="active">
                       <a href="#" class="dropdown-toggle" data-toggle="dropdown">Settings <b class="caret"></b></a>
                       <ul class="dropdown-menu">
                          <li class="menu-item dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Notifications <i class="fa fa-wrench"></i></a>
                          </li>
                          <li class="menu-item dropdown dropdown-submenu">
                             <a href="#" class="dropdown-toggle" data-toggle="dropdown">Edit Account </a>
                             <ul class="dropdown-menu">
                                <li class="menu-item "><a href="#">Page with comments</a></li>
                                <li class="menu-item "><a href="#">Page with comments disabled</a></li>
                                <li class="menu-item dropdown dropdown-submenu">
                                   <a href="#" class="dropdown-toggle" data-toggle="dropdown">More</a>
                                   <ul class="dropdown-menu">
                                      <li><a href="#">3rd level link more options</a></li>
                                      <li><a href="#">3rd level link</a></li>
                                   </ul>
                                </li>
                             </ul>
                          </li>
                          <li class="divider"></li>
                          <li class="menu-item dropdown"><i class="fa"></i><a href="#" class="dropdown-toggle" data-toggle="dropdown">Logout <i class="fa fa-power-off padding-left-ten-px red-text"></i></a>
                          </li>
                       </ul>
                    </li>
                 </ul>
              </ul>
           </ul>
        </ul>
        <!-- DROPDOWN BEGIN -->
        <ul id="signInDropdown" class="nav navbar-nav navbar-right">
           <li class="dropdown">
              <button type="button" id="dropdownMenu1" data-toggle="dropdown" class="btn btn-info navbar-btn dropdown-toggle"><i class="glyphicon glyphicon-user"></i> Login <span class="caret"></span></button>
              <ul class="dropdown-menu">
                 <li style="width: 250px;">
                    <form class="navbar-form form" role="form">
                       <div class="form-group">
                          <div class="input-group">
                             <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                             <input id="emailInput" placeholder="email address" class="form-control" oninvalid="setCustomValidity('Please enter a valid email address!')" onchange="try{setCustomValidity('')}catch(e){}" required="" type="email">
                          </div>
                       </div>
                       <div class="form-group">
                          <div class="input-group">
                             <span class="input-group-addon"><i class="glyphicon glyphicon-lock color-blue"></i></span>
                             <input id="passwordInput" placeholder="password" class="form-control" oninvalid="setCustomValidity('Please enter a password!')" onchange="try{setCustomValidity('')}catch(e){}" required="" type="password">
                          </div>
                       </div>
                       <div class="form-group">
                          <button type="submit" class="btn btn-primary form-control">Login</button>
                       </div>
                       <div class="form-group">
                          <span class="pull-right"><a href="#">Forgot Password?</a></span>
                       </div>
                    </form>
                 </li>
              </ul>
           </li>
        </ul>
        <!-- DROPDOWN END  -->
     </div>
  </div>
</div>
<div style="margin-top:50px;">
  <router-outlet></router-outlet>
</div>